@media screen and (max-width: 479px) {
    body {
        background-color: hotpink;
    }
    #phone {
        display: inherit;
    }

    #tablet {
        display: none;
    }

    #screen {
        display: none;
    }
}