ul {
    list-style-type: none;
}

ul li {
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
}

@media screen and (max-width: 479px) {
    #phone {
        display: inherit;
    }

    #tablet {
        display: none;
    }

    #screen {
        display: none;
    }
    #menu {
        display: inline;
    }
}

@media screen and (min-width: 480px) {
    #phone {
        display: none;
    }

    #tablet {
        display: inherit;
    }

    #screen {
        display: none;
    }
    #menu {
        display: inline;
    }
}

@media screen and (min-width: 768px) {
    #phone {
        display: none;
    }

    #tablet {
        display: none;
    }

    #screen {
        display: inherit;
    }
    #menu {
        display: inline-block;
        position: relative;
    }
    #menu li {
        float: left;
    }
}

