body {
    background: antiquewhite;
}

h1 {
    font-family: arial;
    text-align: center;
}

p {
    text-align: center;
}

#wrapper {
    background: lightblue;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 2px dotted red;
}

.shell {
    width: 240px;
    height: 475px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border: 2px groove gray;
    border-radius: 15%/8%;
}

.shell .top {
    height: 10%;
}

.shell .top .front-camera {
    width: 10px;
    height: 10px;
    background: darkgray;
    border: 2px groove gray;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.top .speaker {
    width: 45px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background: rgba(10, 10, 10, 0.8);
    border-radius: 25%;
}

.shell .screen {
    height: 70%;
    background: aquamarine;
    margin-left: 8px;
    margin-right: 8px;
    border: 2px groove darkgray;
    font-family: arial;
}

.screen .info-bar {
    height: 18px;
    display: block;
    background: rgba(0, 0, 0, 0.75);
    padding: 1px;
    color: white;
    display: block;
    position: relative;
}

.info-bar .operator {
    width: 73px;
    text-align: left;
    float: left;
}

.info-bar .clock {
    width: 72px;
    text-align: center;
    float: left;
}

.info-bar .battery {
    width: 72px;
    text-align: right;
    float: left;
}

.screen .home {
    width: auto;
    height: 260px;
    position: relative;
}

.screen .quick-menu {
    border-top: 1px solid rgba(0, 0, 0, .25);
    width: auto;
    display: block;
    position: relative;
}

.menu-item {
    margin: auto;
    width: 53px;
    height: 50px;
    float: left;
}

.menu-item-fig {
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    background: red;
    border:1px solid rgba(0, 0, 0, .3);
    border-radius: 15%;
}

.menu-item figcaption {
    margin-top: 35px;
    text-align: center;
    font-size: 9px;
}

.shell .bottom {
    height: 15%;
}

.shell .bottom .menu-button {
    width: 40px;
    height: 40px;
    background: white;
    border: 2px groove rgba(128, 128, 128, 0.1);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.bottom .menu-button .menu-button-icon {
    width: 15px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27%;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 25%;
}

.green-item {
    background: green;
}

.lightblue-item {
    background: lightblue;
}

.orange-item {
    background: orangered;
}

.white-item {
    background: white;
}

.lightgray-item {
    background: lightgray;
}

.black-item {
    background: black;
}

.bisque-item {
    background: bisque;
}

.lightbrown-item {
    background: burlywood;
}

.purple-item {
    background: darkorchid;
}

footer {
    margin-top: 5px;
    border-top: 1px solid rgba(128, 128, 128, 0.4);
}