body {
    background-color: bisque;
}

header {
    border-bottom: 1px solid gray;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
}

ul li {
    border: 1px solid black;
    margin: 2px;
    padding: 3px;
    text-align: center;
    background-color: gainsboro;
    border-radius: 5%;
}

ul li a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 479px) {
    #phone {
        display: inherit;
        text-align: center;
    }

    #tablet {
        display: none;
    }

    #screen {
        display: none;
    }
    #menu {
        display: inline;
    }
    figure img {
        max-width: 100%;
    }
    figure figcaption {
        text-align: center;
    }
}

@media screen and (min-width: 480px) {
    #phone {
        display: none;
    }

    #tablet {
        display: inherit;
        text-align: center;
    }

    #screen {
        display: none;
    }
    #menu {
        display: inline;
    }
    figure img {
        max-width: 100%;
    }
    figure figcaption {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    #phone {
        display: none;
    }

    #tablet {
        display: none;
    }

    #screen {
        display: inherit;
        text-align: center;
    }
    #menu {
        display: inline-block;
        position: relative;
    }
    #menu li {
        float: left;
    }
    figure img {
        width: auto;
    }
    figure figcaption {
        text-align: center;
    }
}

figure {
    display: inline-block;
}

figure img {
    height: auto;
}

footer {
    border-top: 1px solid darkgray;
}