body {
    background: #00bfff;
}

.container {
    width: 200px;
    height: 200px;
    position: relative;
    font-size: 7rem;
    text-align: center;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: 1s;
}

.card figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card .front {
    background-color: honeydew;
}

.card .back {
    background-color: coral;
    transform: rotateY(180deg);
}

.card:hover {
    transform: rotateY(180deg);
}

.tvau .card:hover {
    transform: rotateX(180deg);
}