body {
    padding-top: 30px;
    background-image: url("../Images/background_ocean.jpg");
    background-size: cover;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: 26px;
}

#lead-text {
    text-align: center
}

 #end-footer {
     margin-top: 15px;
 }

 .text-box {
     padding: 5px;
     background: rgba(255, 255, 255, 0.65);
 }

 header:hover {
     text-shadow: 1px 0px 10px #d3d3d3;
     transition: 0.5s ease-in;
     -moz-transition: 0.5s ease-in;
 }
